<mat-toolbar
  color="primary"
>
  <button
    mat-icon-button
    aria-label="Toggle Sidebar"
    (click)="toggleSidebarClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-container
    *ngIf="!isMobile"
  >
    <span
      class="pl-4"
    >
      <img
        alt="Logo EloGroup"
        class="logo"
        src="../../../../assets/logo-EloGroup-branco.png"
      />
    </span>
  </ng-container>

  <span style="flex: 1 1 auto"></span>
  <span>
    <button
      (click)="logout()"
    >
        Log Out
    </button>
  </span>
</mat-toolbar>
