<table
  #tableElement
  style="border: 2px solid black"
>
  <thead>
    <tr
      style="border: 2px solid black;"
    >
      <th
        [width]="
          columnWidthPercentage.toString() + '%'
        "
        *ngFor="
          let columnData
          of
          dragDropTableParams.columnData
        "
      >
        {{ columnData.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let draggableRow
        of
        dragDropTableContent.draggableRows;
        index as rowIndex
      "
      [class]="'draggableRow'+rowIndex"
    >
      <td
        *ngFor="
          let columnData
          of
          dragDropTableParams.columnData;
          index as columnIndex
        "
        [ngClass]="
          calcDragAreaClass( draggableRow, columnData )
        "
      >
        <ng-container *ngIf="draggableRow.status === columnData.status">
          <div
            cdkDrag
            [cdkDragBoundary]="'.draggableRow'+rowIndex"
            (cdkDragStarted)="handleDragStart($event, rowIndex, draggableRow.status)"
            [cdkDragFreeDragPosition]="draggableRow.dragPosition"
            class="clickable button-container"
          >
            <ng-container
              *ngIf="dragDropTableContent.hasPopover"
            >
              <button
                class="drag-button"
                [ngbPopover]="popoverContent"
                [popoverTitle]="popoverTitle"
                #popoverRef="ngbPopover"
                triggers="manual"
                [routerLink]="
                  draggableRow.hasLink ?
                  draggableRow.linkUrl
                  : undefined
                "
                (mouseenter)="
                  openPopover(
                    popoverRef, draggableRow
                  )
                "
                (mousedown)="
                  closePopover(
                    popoverRef
                  )
                "
                (mouseleave)="
                  closePopover(
                    popoverRef
                  )
                "
              >
                {{ draggableRow.label }}
              </button>
            </ng-container>
            <ng-container
              *ngIf="!dragDropTableContent.hasPopover"
            >
              <button
                class="drag-button"
                [routerLink]="draggableRow.linkUrl"
              >
                {{ draggableRow.label }}
              </button>
            </ng-container>

          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #popoverTitle let-data="data">
  <div class="title-popover">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        {{ data.label }}
      </div>
    </div>
  </div>

</ng-template>

<ng-template #popoverContent let-data="data">
  <div class="row">
    <ng-container
      *ngFor="
        let popoverParam
        of
        dragDropTableContent.popoverParams
      "
    >
      <div class="col-12">
        <span class="popover-label">
          {{ popoverParam.label }}:
        </span>
        <span>
            &nbsp;
            {{
              isArray(data.additionalData[popoverParam.property])
              ? enumArrayHandler(data.additionalData[popoverParam.property])
              : data.additionalData[popoverParam.property]
            }}
        </span>
      </div>
    </ng-container>
  </div>
</ng-template>
