<mat-card *ngIf="isHomePanel">
  <mat-card-title>
    <app-page-title
      [hasNavigatorArrow]="false"
      title="Seção de Leads"
    ></app-page-title>
  </mat-card-title>
  <mat-card-content>
    <div class="row mt-4">
      <div class="col-12 text-center title">
        <strong>Seja bem-vindo à seção de Leads!</strong>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-center">
        <app-button
          [hasIcon]="true"
          iconName="leaderboard"
          [size]="defaultButtonSize"
          text="Painel de Leads"
          routerLink="./leads-panel"
          (click)="isHomePanel = false"
        ></app-button>
      </div>
      <div class="col-12 d-flex justify-content-center mt-3">
        <app-button
          [hasIcon]="true"
          iconName="person_add"
          [size]="defaultButtonSize"
          text="Novo Lead"
          routerLink="./new-lead"
          (click)="isHomePanel = false"
        ></app-button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
