.big-button {
  font-size: 1.25rem;
  padding: 1.25rem;
  font-weight: bold;
  border-radius: 0.2rem;
  background-color:  #14222B;
  color: white;
}

button:disabled {
  background-color: lightgrey !important;
  color: grey !important;
}

.regular-button {
  font-size: 1rem;
  padding: 0.8rem;
  font-weight: bold;
  background-color:  #14222B;
  color: white;
  border-radius: 0.2rem;
}
