<mat-card>
  <mat-card-title>
    <div class="row d-flex justify-content-center">
      App Desafio Leads EloGroup
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-center">
        <img
          alt="Elo Group Logo"
          src="../../../assets/logo-home.jpg"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6 col-md-8 col-sm-12 offset-lg-3
        offset-md-2 mt-3"
      >
        <div class="text-center strong">
          Seja bem vindo ao app do Desafio da EloGroup!
        </div>
        <div class="text-center mt-2 medium">
          Meu nome é <strong>Carlos Chaves</strong> e o objetivo desse app
          é apresentar um pouco do meu trabalho pela realização de um desafio do
          processo seletivo da EloGroup. Utilize o menu ao lado para navegar
          entre as funcionalidades do app! Algumas observações técnicas
          estão no README do projeto, mas você também pode entrar em contato
          comigo através do e-mail <strong>carloschavesgui@gmail.com</strong>
          ou do telefone <strong>(31) 99215-7210</strong>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
