/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Overriding primary theme */
.mat-toolbar.mat-primary {
  background: #14222B;
  color: #fff;
}

.clickable {
  :hover {
    cursor: pointer;
  }
}

label {
  font-size: 1.25rem;
  font-weight: bold;
}
