table {

  margin-top: 0.25rem;
  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #14222B;
    color: white;
    border: 1px solid white;
    text-align: center;
  }

  td {
    border: 1px solid black;
  }

  .amplify {
    transform: scale(1.5);
  }

  .text-center {
    text-align: center;
  }

  td, th {
    padding: 0.5rem;
  }
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}
